#div1{
  background-color: rgb(225, 225, 225);
margin: 100px;
}
.h1{
color: #1a0c02;
display: ce;
}
.h1{
    text-align: center;
}
.li{
color: rgb(50, 29, 1);
}
#div2{
 padding-left: 10px ;
padding-right: 10px;
margin: 75px ;
padding-bottom:5px ;
    background-color: rgb(244, 214, 170);
}
body{
    background-color: rgb(53, 28, 38);
}
#sec{
  background-color: rgb(255, 255, 255);
 margin-bottom: 40px;
 margin-top: 50px;
padding-bottom:  100px;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: #110801;
}